/* Huvudsida start */
* {
    /* lägg till padding och margin? */
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
}

body {
    background-color: lightgrey;
    background-image: linear-gradient(#ababab, #b4b4b4, #e1e1e1, #b4b4b4, #ababab);
    align-items: center;
}

.page-container {
    max-width: 100%;
    background-image: linear-gradient(#ababab, #b4b4b4, #e1e1e1, #b4b4b4, #ababab);
    margin-left: auto;
    margin-right: auto;
}

/* Huvudsida slut */

/* Header start */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.headerTitle,
.imageSearch-text {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    position: absolute;
}

.headerTitle {
    text-transform: uppercase;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 40px;
}

.imageSearch-text {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 197, 36);
}

/* Header slut */


/* Knappar start */
.search-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#searchbar,
#color-choice,
#submit,
li>button {
    color: black;
    background-color: white;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 15px;
    border: none;
    margin-left: 5px;
}

li>button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    color: white;
    background-color: rgb(219, 161, 0);
    ;
}

#searchbar {
    max-width: 356px;
    flex: 1;
    padding: 10px 20px;
    margin-right: 5px;
}

#color-choice {
    max-width: 100px;
    padding: 10px 5px;
    margin-right: 5px;
}

#submit {
    max-width: 100px;
    padding: 10px 5px;
    background-color: rgb(255, 213, 76);
}

/* Knappar start */


/* Bild-grid start */
.search-results {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 3px;
    /* Minska det totala avståndet mellan bilderna */
}

/* Search-result bild-design */
.search-results img {
    align-items: center;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    width: 100%; /* Använd 100% för att fylla hela kolumnens bredd */
    height: 100%; /* Använd 100% för att fylla hela radens höjd */
}

/* Justera bilderna i specifika rader */
.search-results img:nth-child(1),
.search-results img:nth-child(2),
.search-results img:nth-child(3),
.search-results img:nth-child(4) {
    grid-row: 1; /* Rad 1 */
}

.search-results img:nth-child(5),
.search-results img:nth-child(6),
.search-results img:nth-child(7),
.search-results img:nth-child(8) {
    grid-row: 2; /* Rad 2 */
}

.search-results img:nth-child(9),
.search-results img:nth-child(10) {
    grid-row: 3; /* Rad 3 */
}
/* Bild-grid slut */



footer ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}