* {
    /* lägg till padding och margin? */
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
}

body {
    background-color: lightgrey;
}

li>button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    color: darkslategrey;
}

.header-container {
    /* Flexbox så att bilden kan sträcka sig vid behov */
    text-align: center;
    position: relative;
}

.headerTitle {
    text-transform: uppercase;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.imageSearch-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.background-image {
    position: relative;
}

img {
    max-height: 100%;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 40px;
}


.main-container {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;

}

.search-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}


#searchbar,
#color-choice,
#submit,
li>button{
    color: darkslategrey;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 15px;
    border: none;
    margin-left: 5px;
}

#searchbar {
    width: 50%;
    padding: 10px 20px;
    margin-right: 5px;
}

#color-choice {
    width: 25%;
    padding: 10px 5px;
    margin-right: 5px;
}

#submit {
    width: 18%;
    padding: 10px 5px;
    background-color: lightcoral;
}

footer ul{
    list-style:none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    }