* {
    /* lägg till padding och margin? */
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
}

body {
    background-color: lightgrey;
    background-image: url(addimagenamehere.jpg);
}

.header-container {
    text-align: center;
    position: relative;
}

.headerTitle {
    text-transform: uppercase;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
}

.imageSearch-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    /* Just an example, adjust the color as needed */
}

.background-image {
    position: relative;
}

.background-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Adjust the background color and opacity as needed */
    z-index: 0;
}

img {
    max-height: 100%;
}

/* Frostat glas */
/* .headerTitle,
.imageSearch-text { */
    /* From https://css.glass */
    /* background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
} */


h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 40px;
}

.search-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

/* Kan man göra detta mer dry vore det najs :D */
#searchbar {
    width: 50%;
    padding: 10px 20px;
    margin-right: 5px;
    border: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 15px;
    color: darkslategrey;
}

#color-choice {
    width: 25%;
    padding: 10px 5px;
    margin-right: 5px;
    margin-left: 5px;
    border: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 15px;
    color: darkslategrey;
}

#submit {
    width: 18%;
    padding: 10px 5px;
    margin-left: 5px;
    border: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 15px;
    background-color: lightcoral;
    color: darkslategrey;
}